body{
 font-family: sans-serif;
  background-color: rgb(27, 125, 223);
  color: white;
  text-align: center;
}
.pushwalabutton{
  background-color: white;
  border: 2px solid black;
  border-radius: 25px;
  padding: 10px 20px;
  font-size: 20px;
  font-weight: bold;
  color: rgb(27, 125, 223);
}
.pushwalabutton:hover{
  background-color: rgb(27, 125, 223);
  color: white;
  cursor: pointer;;
}
